#!/bin/bash

git clone -b boot-2.7 https://github.com/spring-guides/gs-spring-boot.git
cd gs-spring-boot/complete
mvn clean package -DskipTests

az spring app deploy \
    --resource-group ${RESOURCE_GROUP} \
    --service ${SERVICE_NAME} \
    --name ${APP_NAME} \
    --artifact-path target/spring-boot-complete-0.0.1-SNAPSHOT.jar \
    --env testEnvKey=testEnvValue \
    --runtime-version Java_11 \
    --jvm-options '-Xms1024m -Xmx2048m'